.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/bootstrap/ssr
/node_modules
/public/background-removal
/public_html/background-removal
/public/barcode-scanner
/public_html/barcode-scanner
/public/ocr
/public_html/ocr
/public/face-blur
/public_html/face-blur
/public/license-plate
/public_html/license-plate
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
